.page {
  max-width: 780px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
  padding: 40px;
}

.infophoto{
  height: 250px;
}

.content{
  float: left;
  max-width: 85%;
}

.photo{
  float: right;
}

.section{
  margin-bottom: 200px;
  text-align: justify;
}

.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 17px;
}

.sec-droite{
  padding-left: 150px;
  margin-top: 37px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

strong{
  font-size: 26px;
}

h2{
  font-size: 28px;
  color: grey;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}

.duree{
  font-weight: normal;
  font-style: italic;
  font-size: 15px;
}

.titre{
  font-weight: bold;
  font-size: 15px;
}

#forma-gauche p{
  margin-bottom: 37px;
}
